.header {
  width: 100%;
  background-color: #fed700;
  padding: 12px 0;
}

.header_black {
  width: 100%;
  background-color: #000000;
  padding: 12px 0;
  color: #ffffff;

}

.themeContainer{
  position: absolute;
  /* padding: 2px; */
  top: 25px;
  right: 70px;
  width: 55px;
  height: 27px;
  background-color: black;
  border-radius: 15px;
  cursor: pointer;
  transition: .5s;

}

.themeContainer_white {
  background-color: #ffffff;
}

.circle {
  position: absolute;
  top: 1px;
  /* margin: 2px; */
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

.circle_white {
  background-color: #ffffff;
  transform: translateX(1px);
  transition: .5s;

}
.circle_dark {
  background-color: black;
  transform: translateX(29px);
  transition: .5s;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.error {
  position: absolute;
  text-align: center;
}

.error_black{
  background-color: #000000;
}

.error svg {
  top: 0;
  right: 0;
  position: absolute;
}

.error svg:hover {
  cursor: pointer;
  fill: #FEBA0C;
}

.hidden {
  transition: 1s;
  display: none;
}

.formAuth {
  margin: 0 auto;
  display: flex;
}

.formAuth input {
  border-radius: 7px;
  border: none;
  padding: 5px;
  outline: none;
}

.formAuth div {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: flex-end;
  height: 56px;
  margin-right: 5px;
}


@media (max-width: 700px) {
  .wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }
}