.search {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	z-index: 999;
}

.search svg{
	cursor: pointer;
	fill: #7B8E98;
	position: relative;
	right: 40px;
}


.search svg:hover {
	fill: #FEBA0C;
}

.search__input {
	/* position: relative; */
	width: 296px;
	border-radius: 24px;
	border: 1px solid transparent;
	outline: none;
    padding: 13px 10px 13px 14px;
	color: #000;
	font-size: 16px;
	line-height: 20px;
	caret-color: #FEBA0C;
	transition: 0.5s;
}

.search__input:focus {
	background: #FFFFFF;
	border: 1px solid #FED700;
}

.search__input::placeholder {
	color: #7b8e98;
}

.search__btn {
	display: flex;
	outline: none;
	border: none;
	padding: 0;
	cursor: pointer;
	right: 20px;
	background-color: transparent;
	transition: 1s;

}


.search__btn svg {
	fill: #7B8E98;
	position: relative;
	right: 35px;

}

.search__btn_disabled svg {
	fill: #CFD8DC;
}

/* .search__btn:focus svg{
	fill: #FEBA0C;
} */

.search__btn:hover svg{
	fill: #FEBA0C;
}

.search__input-active{
	width: 200px;
}

.search__btn-hidden{
	display: none;
	transition: 1s;

}

/* @media (max-width: 350px) {
	.search__input {
		max-width: 400px;
	}
} */

