@import '~normalize.css';

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
  font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
  max-width: 1024px;
  padding-left: 16px;
  padding-right: 16px;
  width: 95%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.content {
  padding: 20px 0;
  flex: 1;
}

.content__sort {
  margin-bottom: 40px;
}

.result {
  font-size: 40px;
}

.error {
  top: 50%;
  right: 40%;
  /* bottom: 0;
  left: 0; */
  position: absolute;
  padding: 50px;
  background-color: #fed700;
  border-radius: 10px;

}